.fontBlue{
    color: #757fff;
}
.fontWhite{
    color: white;
}
.fontLightBlue{
    color: #aadbea;
}
.fontGreen{
    color: #5ed449;
}
.fontLightGreen{
    color: #beeabe;
}
html, body{
    height: 100%;
}

p{
    font-family: 'Roboto', sans-serif;
    color: #444
}

.header{
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.header .title{
    margin: 0;
    font-size: 20px; 
}

.customContainer{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.leftContainer{
    width: 50%;
    height: calc(100% - 20px);
    margin-top: 20px;
    position: relative
}

.leftContainer textarea{
    height: calc(100% - 20px);
}

.rightContainer{
    width: 50%;
    margin-left: 20px;
    padding-left: 10px;
    background-color: #444;
    overflow-y: scroll;
    position: relative;
}

#result{
    color: wheat;
}

.buttonsContainer{
    position: absolute;
    top: 0%;
    right: 0;
    margin: 10px;
}

.clearButton{
    position: fixed;
    right: 16px;
    margin: 10px;
}

.codeContainer{
    overflow-y: auto;
    height: 50%;
}

.token_reserved{
    background-color: lightblue;
}

.margin-left{
    margin-left: 15px;
}

.names{
    font-size: 18px;
    margin-left: auto;
}

.errorMessage{
    color: #ff8e8e;
}

.successMessage{
    color: lightgreen;
}